.container {
  width: 50%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
  color:white;
  font-size:16pt;
}

.incorrect{
  color: white;
}

.correct{
  color:white;
}

.containerOptions {
  width: 80%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
  text-align: center;
  padding:5px;
  padding-top:19px;
  background-color:#FFFFFF;
  border-radius:10px;
  margin-top:10px;
}

.submitButton{
  height:40px;
  width:180px;
  border: 2px solid #FFFFFF;
  border-radius:7px;
  color:white;
  background-color:rgba(0,0,0,0);

  position:absolute;
  left:0;
  right:0;
  margin:auto;
  bottom:150px;
}

.textInput{
  display:inline-block;
  vertical-align:middle;
}

.submitButton:hover{
  background-color: rgba(255,255,255,0.1);
}

.submitButtonText{
  margin-top:7px;
}

.containerOptions:hover {
  background-color: #54d8c8;
}

.choicesContainer{
  overflow-y:scroll;
  position:absolute;
  left:0;
  right:0;
  top:135px;
  bottom:200px;
}


