.container {
  border:1px solid black;
  border-width:0px 2px 2px 2px;
  width: 50%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
}

.containerOptions {
  border:1px solid black;
  border-width:0px 2px 2px 2px;
  width: 50%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
  text-align: center;
}

.submitButton{
  height:40px;
  width:180px;
  border: 2px solid #FFFFFF;
  border-radius:7px;
  text-align:center;
  margin:auto;
  margin-bottom:50px;
  margin-top:50px;
  color:white;
  background-color:rgba(0,0,0,0);
}

.submitButton:hover{
  background-color: rgba(255,255,255,0.1);
}

.submitButtonText{
  margin-top:7px;
}

.containerOptions:hover {
  background-color: green;
}


