.container {
  width: 50%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
  color:white;
  font-size:16pt;
}

.containerOptions {
  width: 40%;
  margin-top:5px;
  margin-bottom:5px;
  margin: auto;
  height:40px;
  text-align: center;
  padding:5px;
  padding-top:19px;
  background-color:#FFFFFF;
  border-radius:10px;
  margin-top:10px;
}

.submitButton{
  height:40px;
  width:180px;
  border: 2px solid #FFFFFF;
  border-radius:7px;
  text-align:center;
  margin:auto;
  margin-bottom:50px;
  margin-top:50px;
  color:white;
  background-color:rgba(0,0,0,0);
}

.submitButton:hover{
  background-color: rgba(255,255,255,0.1);
}

.submitButtonText{
  margin-top:7px;
}

.containerOptions:hover {
  background-color: green;
}

.choicesContainer{
  height:400px;
  overflow-y:scroll;
}


