.responsesView{
  color:#919090;
  border-radius:2px;
  font-size: 12pt;
  margin-left: 107px;
  background-color:white;
  width: 300px;
  padding: 2px;
  display: inline-block;
  margin-top: 50px;
}

.chartCard{
  color:#919090;
  border-radius:2px;
  font-size: 12pt;
  background-color:white;
  width: 300px;
  padding: 2px;
}