.container{
  border:1px solid black;
  border-width:2px 2px 2px 2px;
  margin-top:5px;
  margin-bottom:5px;
  height:60px;
}

.buttonContainer{
  float:right;
  margin-top:3px;
  margin-right:3px;
}

.button{
  border: 3px solid black;
  border-radius:30px;
  height:28px;
  width:28px;
  display:inline;
  margin-left:3px;
}

.check{
  height:26px;
  width:26px;
  margin-top:1px;
}

.button:hover{
  background-color:gray;
}

.cross{
  height:19px;
  width:19px;
  margin-top: 5px;
  margin-left: 4px;
}

.promptText{
  margin: 0px;
  padding: 0px;
}
