.container{
  border-width:2px 2px 2px 2px;
  margin-top:5px;
  margin-bottom:5px;
  height:60px;
  background-color:#6f6f6f;
}

.buttonContainer{
}

.button{
  height:60px;
  width:62px;
  display:inline-block;
  background-color:#54d8c8;
}

.button:hover{
  background-color:#008B8B;
}

.send{
  height:30px;
  width:30px;
  margin-top:15px;
  margin-left:15px;
}

.titleContainer{
  display:inline-block;
  text-align:center;
  width:238px;
  float:right;
  margin-top:17px;
}

.promptText{
  margin:0px;
  padding:0px;
  font-size:18pt;
  color:white;
  font-family:helvetica;
}



