body{
  margin:0;
  padding:0;
}
.questionContainer{
  width:300px;
  display:inline-block;
}

.feedbackContainer{
  width:300px;
  float: right;
}

.clippyInput{
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px;
  outline: none;
  cursor: text;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.clippyButton{
  outline: none;
  position: relative;
  display: inline-block;
  padding: 5px 12px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 3px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.clippyButton:hover{
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee,#ddd);
  border-color: #ccc;
}

.clippyImage{
  height:15px;
  width:15px;
}
.topBar{
  position:fixed;
  height:50px;
  width:100%;
  background-color:#919191;
  text-align:center;
  padding-top:10px;
}

.contentMain{
  padding-top:60px;
}

.title{
  font-family: 'Patua One', cursive;
  color:#FFFFFF;
  display:inline;
}
.counter{
  margin:0;
  padding:0;
  font:helvetica;
  color:white;
}

.questionHeader{
  width:300px;
  height:60px;
  background-color:#919191;
}
