body{
  margin:0;
  padding:0;
}
.questionContainer{
  width:300px;
  display:inline-block;
  vertical-align: top;
  float: left;
}

.feedbackContainer{
  width:300px;
  float: right;
  display:inline-block;
  vertical-align: top;

}

.clippyContainer{
  padding: 5px;
  margin-top:15px;
  position: absolute;
  display: inline-block;
  right: 0px;
  top: 0px;
}

.connectingContainer{
  display: inline-block;
  transform: translateY(-65%);
}

.counterContainer{
  display: inline-block;
  transform: translate(10px, 10px);
  float: left;
}
.clippyInput{
  padding: 7px 8px;
  font-size: 13px;
  color: #333;
  vertical-align: middle;
  background-color: #fff;
  background-repeat: no-repeat;
  background-position: right 8px center;
  border: 1px solid #ccc;
  border-radius: 3px 0px 0px 3px;
  outline: none;
  cursor: text;
  box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.questionsHeader{
  text-align: center;
  text-decoration: underline;
}

.feedbackHeader{
  text-align: center;
  text-decoration: underline;
}

.clippyButton{
  outline: none;
  position: relative;
  display: inline-block;
  padding: 2px 12px;
  font-weight: bold;
  line-height: 20px;
  color: #333;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  background-color: #eee;
  background-image: linear-gradient(#fcfcfc,#eee);
  border: 1px solid #d5d5d5;
  border-radius: 0px 3px 3px 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-appearance: none;
}

.clippyButton:hover{
  text-decoration: none;
  background-color: #ddd;
  background-image: linear-gradient(#eee,#ddd);
  border-color: #ccc;
}

.clippyImage{
  height:15px;
  width:15px;
  margin-top: 5px;
}

.topBar{
  z-index: 1;
  position:fixed;
  height:50px;
  width:100%;
  background-color:#353535;
  text-align:center;
  padding-top:10px;
}

.contentMain{
  padding-top:60px;
  text-align: center;
}

.logoImage{
  height:40px; 
}

.logoImageContainer{
  display: inline-block;
  margin-left: -130px;
}

.title{
  font-family: 'Patua One', cursive;
  color:#FFFFFF;
  margin: 0;
  padding: 0;
  top: 20px;
}
.counter{
  font-size: 11pt;
  margin:0;
  padding:0;
  font:helvetica;
  color:white;
}

.questionHeader{
  width:300px;
  height:60px;
  background-color:#919191;
}
