.container{
  margin-top:5px;
  margin-bottom:5px;
  height:40px;
  background-color:#48E5C2;
  border-radius:0px 10px 10px 0px;
}

.buttonContainer{
  float:right;
  margin-top:3px;
  margin-right:3px;
}

.button{
  border: 3px solid black;
  border-radius:30px;
  height:28px;
  width:28px;
  display:inline-block;
  margin-left:3px;
  
}

.check{
  height:19px;
  width:19px;
  margin-top: 5px;
  margin-left: 4px;
}

.button:hover{
  background-color:#4286f4;
}

.cross{
  height:19px;
  width:19px;
  margin-top: 5px;
  margin-left: 4px;
}

.username{
  display:inline-block;
  margin:0;
  padding:0;
  margin-left:10px;
}
