.questionContainer{
  margin-top:5px;
  margin-bottom:5px;
  height:60px;
  background-color:#6f6f6f;
}

.container{
  margin-top:5px;
  margin-bottom:5px;
  height:60px;
  background-color:#6f6f6f;
}

.container:hover{
  margin-top:5px;
  margin-bottom:5px;
  height:60px;
  background-color:#969494;
}

.buttonContainer{
  float:right;
  height:60px;
}

.cancelButton{
  height:60px;
  width:60px;
  display:inline-block;
  background-color:#54d8c8;
}

.cancelButton:hover{
  height:60px;
  width:60px;
  display:inline-block;
  background-color:#ff1c1c;
}



.micButton{
  height:60px;
  width:60px;
  display:inline-block;
  background-color:#54d8c8;
}

.micButton:hover{
  height:60px;
  width:60px;
  display:inline-block;
  background-color:#22e629;
}

.check{
  height:30px;
  width:30px;
  margin-left:15px;
  margin-top:15px;
}

.cross{
  height:30px;
  width:30px;
  margin-left:15px;
  margin-top:15px;
}

.username{
  margin:0;
  padding:0;
  margin-left:15px;
  color:white;
  margin-top:12px;
  font-family:helvetica;
  font-size:18pt;
}

.usernameContainer{
  color:white;
  width:180px;
  margin:0;
  padding:0;
  display:inline-block;
  text-align:center;
}
