.usernameContainer{
  top:0px;
  bottom:0px;
  position:absolute;
  width:100%;
  background-color:#48E5C2;
  padding-top:100px
}
.usernameInput{
  margin:0 auto;
}

.usernamePrompt{
  color:white;
  font:helvetica;
  font-size:20pt;
  margin:0;
  padding:0;
}

