.hostQuestionContainer {
  margin: 5px;
  width: 50%;
  flex-direction: column;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.item {
  width: 35%;
}

.titleAndBody {
  padding-top: 20px;
  padding-left: 15px;
}
