.hostQuestionContainer {
  width:100%;
}

.title{
  width:298px;
  border:none;
  text-align:center;
  font-size:16pt;
  background-color:#313131;
  padding-bottom:3px;
  color:white;
}
.titleAndBody {
}
