.promptContainer{
  background-color: white;
  width:300px;
  margin:10px;
  display:inline-block;
  vertical-align:top;
}

.deleteButton{
  height: 20px;
}

.multipleChoiceInput{
  width:295px;
  border:none;
  text-align:center;
}

body{
  color: dimgrey;
  font-family: Helvetica-bold;
}
