.promptContainer{
  width:75%;
  margin: auto;
  background-color: white;
  display: flex;
  flex-direction: column;
}

.deleteButton{
  height: 20px;
}

body{
  color: dimgrey;
  font-family: Helvetica-bold;
}