.textOrMultipleChoice{
  width:100%;
}

.multButton{
  display:inline-block;
  width:149px;
  text-align:center;
  cursor:default;
  padding-top:3px;
  padding-bottom:3px;
}

.multButton:hover{
  display:inline-block;
  width:149px;
  text-align:center;
  cursor:default;
  padding-top:3px;
  padding-bottom:3px;
  background-color:#ebebeb
}

.buttonText{
  margin:0;
  padding:0;
}

.selected{
  background-color:#37ff37;
}
