.topBar{
  position:fixed;
  height:50px;
  width:100%;
  z-index: 1;
  background-color:#353535;
  text-align:center;
  padding-top:10px;
  vertical-align: top;
}

.liveModule{
  display: inline-block;
  width: 20%;
}

body{
  background-color: #ECEDED;
}

.logoImage{
  height:40px;
  
}

.logoImageContainer{
  display: inline-block;
}

.logoImageContainer{
  display: inline-block;
}

.settingsContainer{
  display: inline-block;
  transform: translateY(-65%);
}

.roomName{
  width:100%;
}

.roomNameInput {
  outline: none;
  border-radius: 1Àùpx;
  margin-right: 7%;
  height: 25px;
  margin-top: 15px;
}

.addPrompt{
  background-color: #353535;
  border-radius: 5px;
  text-align: center;
  color: #eceded;
  padding: 15px;
  font-size: 17px;
  float: left;
  margin-left: 50px;
  display: inline-block;
}

.addPrompt:hover{
  background-color: #504f4f;
  border-radius: 5px;
  text-align: center;
  color: #eceded;
  padding: 15px;
  font-size: 17px;
  float: left;
  margin-left: 50px;
  display: inline-block;
}

.buttonText{
  margin:0;
  padding:0;
}

.createRoomButton{
  background-color: rgba(255, 0, 0, 0.58);
  border-radius: 5px;
  text-align: center;
  width: 65%;
  margin-right: 7%;
  color: #eceded;
  padding: 15px;
  font-size: 17px;
  display: inline-block;
}

.createRoomButton:hover{
  background-color: rgba(255, 43, 43, 0.58);
  border-radius: 5px;
  text-align: center;
  width: 65%;
  margin-right: 7%;
  color: #eceded;
  padding: 15px;
  font-size: 17px;
  display: inline-block;
}

.textOrMultipleChoice{
  margin: auto;
}

.title{
  font-family: 'Patua One', cursive;
  color:#FFFFFF;
  margin: 0;
  padding: 0;
  top: 20px;
}

.contentMain{
  padding-top:70px;
  text-align: right;
  width: 97%;
  display: inline-block;
}
