.topBar{
  position:fixed;
  height:50px;
  width:100%;
  background-color:#353535;
  text-align:center;
  padding-top:10px;
}

body{
  background-color: #ECEDED;
}

.roomName{
  text-align: center;
  font-size: 15px;
}

.promptAndRoom{
  display: inline-block;
}

.createRoomButton{
  display: inline-block;
}

.textOrMultipleChoice{
  margin: auto;
}

.title{
  font-family: 'Patua One', cursive;
  color:#FFFFFF;
  display:inline;
}

.contentMain{
  padding-top:70px;
}
